body {
  background: url(bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  font-family: Roboto, sans-serif;
  margin: 0;
  font-size: 16px;
}

/* Header */
header a {
  text-decoration: none;
  color: white;
}

main {
  display: flex;
  justify-content: center;
}

header {
  max-width: 1139px;
  display: flex;
  justify-content: space-between;
  margin: auto;
  font-weight: 400;
  padding: 23px 24px;
}

nav {
  text-transform: uppercase;
  display: flex;
  align-items: center;
}

.logo {
  font-size: 18px;
  color: #ffffff;
}

nav a {
  font-size: 12px;
}

.components {
  margin-right: 30px;
  vertical-align: bottom;
  border-bottom: 2px solid transparent;
}

.download {
  padding-bottom: 3px;
  border-bottom: 2px solid transparent;
  vertical-align: bottom;
}

.facebook,
.instagram,
.twitter {
  padding-right: 24px;
  padding-left: 24px;
  vertical-align: middle;
}

.facebook:hover,
.instagram:hover,
.twitter:hover {
  opacity: 0.6;
}

.download-icon {
  padding-right: 10px;
  vertical-align: bottom;
}

.components:hover,
.download:hover {
  border-bottom: 2px solid white;
  opacity: 0.6;
}

.dropdown {
  position: absolute;
  top: 20px;
  right: 24px;
  padding: 10px 0;
  width: 30px;
  font-size: 0;
  color: transparent;
  border: 0;
  background: none;
  cursor: pointer;
  display: none;
  outline: none;
}

.cancel {
  display: none;
  outline: none;
}

/* Sign-form */

.sign-form {
  min-height: 470px;
  background: #ffffff;
  margin-top: 91px;
  border-radius: 3px;
  padding: 0 20.5px;
}

.social-icons {
  width: 100%;
  height: 150px;
  background: linear-gradient(90deg, #bc478f 0%, #7b1fa2 100%);
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5), 0px 4px 25px rgba(0, 0, 0, 0.12);
  border-radius: 3px;
  margin: auto;
  position: relative;
  top: -39px;
  text-align: center;
  padding: 33px 37px;
  box-sizing: border-box;
}

.social-icons h1 {
  margin: 0 0 36px 0;
  color: #fff;
  font-weight: normal;
  font-size: 20px;
}

.social-icons a {
  text-decoration: none;
  margin: 0 19px;
}

.social-icons a:hover path {
  opacity: 0.6;
}

h2 {
  text-align: center;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
  padding-bottom: 33px;
}

/* Form  */
form {
  padding: 0 4px;
}

.sign-inp {
  display: flex;
  padding-bottom: 46px;
  width: 70vw;
  max-width: 296px;
}

.sign-inp input {
  width: 100%;
  border: 0;
  border-bottom: 1px solid #d2d2d2;
}

.sign-inp input:focus {
  outline: none;
  border-bottom-color: #7b1fa2;
  transition: border-bottom-color 2s;
}

.first-name::before {
  content: url("icons/name.png");
  margin-right: 15px;
  margin-left: 4px;
}

.email::before {
  content: url("icons/email.png");
  margin-right: 15px;
  margin-left: 4px;
}

.password::before {
  content: url("icons/password.png");
  margin-right: 15px;
  margin-left: 4px;
}

input[type="button"] {
  border: none;
  color: #9c27b0;
  background: none;
  text-transform: uppercase;
  line-height: 16px;
  outline: none;
  display: block;
  margin: 0 auto;
}

input[type="button"]:hover {
  color: #000000;
}

input[type="button"]:active {
  position: relative;
  bottom: -3px;
}

/* Footer */

footer {
  max-width: 1139px;
  padding: 66px 24px 27px 24px;

  display: flex;
  justify-content: space-between;
  margin: auto;
  font-weight: 500;
}

.footer__inner {
  display: flex;
  justify-content: space-between;
}

.footer__text {
  text-decoration: none;
  text-transform: uppercase;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #ffffff;
  margin-right: 34px;
  font-family: Roboto, sans-serif;
}

.footer__text:hover {
  opacity: 0.6;
}

.copyright p {
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  margin: 0;
  justify-content: flex-end;
}

@media only screen and (max-width: 786px) {
  /* Header */
  header {
    background: rgba(0, 0, 0, 0.4);
  }

  .top-nav {
    display: none;
    background-color: rgba(0, 0, 0, 0.4);
  }

  .top-nav.open {
    position: absolute;
    display: flex;
    width: 100vw;
    height: 100vh;
    left: 0;
    z-index: 1;
    top: 0;
    background: rgba(0, 0, 0, 0.9);
  }

  .nav-open {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
  }

  .nav-open a {
    padding: 15px;
    font-size: 30px;
    text-align: center;
  }

  .nav-open .components,
  .nav-open .download {
    border-bottom: 2px solid transparent;
  }

  .components {
    margin-right: 0;
  }

  nav.active {
    display: block;
  }

  .download-icon {
    height: 25px;
    vertical-align: middle;
  }

  .dropdown {
    display: block;
  }

  .cancel {
    display: block;
    position: absolute;
    top: 14px;
    right: 24px;
    padding: 10px 0;
    width: 30px;
    border: 0;
    background: none;
    cursor: pointer;
  }

  .cancel path {
    stroke: white;
  }

  .cancel svg:hover {
    opacity: 0.6;
  }

  .dark {
    display: none;
  }

  .dark.open {
    display: block;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.9);
    position: fixed;
    top: 0;
    left: 0;
  }

  /* Footer */

  footer {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
  }

  .footer__inner {
    justify-content: space-between;
  }

  .footer__text {
    margin-right: 0;
  }

  .copyright {
    padding-top: 30px;
    padding-bottom: 28px;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 425px) {
}
